/* Nav */

nav {
  height: 10vh;
}

nav span {
  font-size: 2em;
  color: #ffffff;
  margin: 0 2em 0 2em;
  text-transform: uppercase;
  margin-right: 5vw;
  height: 10vh;
  line-height: 10vh;
}

nav span svg {
  color: #334eba;
}

nav ul {
  list-style: none;
  display: inline;
}

nav ul li {
  display: inline;
  margin: 0 2em 0 2em;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
  height: 10vh;
  line-height: 10vh;
  text-transform: uppercase;
  font-size: 0.9em;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Landing Page */

.landing-page {
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.4)
    ),
    url('images/home.jpg');
    background-size: cover;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
}