/* Nav */

nav {
  height: 10vh;
}

nav span {
  font-size: 2em;
  color: #ffffff;
  margin: 0 2em 0 2em;
  text-transform: uppercase;
  margin-right: 5vw;
  height: 10vh;
  line-height: 10vh;
}

nav span svg {
  color: #ddae0a;
  margin-right: 0.5em;
}

nav ul {
  list-style: none;
  display: inline;
}

nav ul li {
  display: inline;
  margin: 0 2em 0 2em;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
  height: 10vh;
  line-height: 10vh;
  text-transform: uppercase;
  font-size: 0.9em;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Landing Page */

.landing-page {
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.4)
    ),
    url('images/home.jpg');
    background-size: cover;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
}

.landing-page h2 {
  margin-top: 20vh;
}

.landing-page h1, .landing-page h2 {
  color: #ffffff;
  text-align: center;
}

/* Spinner */
.spinners-container {
  height: 100vh;
  line-height: 100vh;
  width: 15%;
  margin: 0 auto;
}

/* Category */
.category-filter {
  margin-top: 20vh;
  width: 65%;
  margin: 20vh auto 0 auto;
  background-color: #ddae0a;
  height: 10vh;
  border-radius: 0.5em;
}

.category-filter select {
  width: 70%;
  display: inline-block;
  margin: 1.1% 0 0 15%;
  height: 70%;
  border-radius: 0.3em;
}

/* Property */
.properties-container {
  margin-top: 2em;
  width: 80%;
  margin: 0 auto;
}

.property-container {
  width: 90%;
  display: inline-block;
  height: 60vh;
}

.properties-container h3 {
  text-align: center;
  margin-bottom: 1.2em;
}

.property-container figure {
  width: 100%;
  height: 60%;
}

.property-container figure img {
  height: 100%;
  width: 100%;
}

.property-container p:last-of-type s {
  color: red;
}